:root {
  --white: #ffffff;
  --soft--white: #c9c8c8;
  --dark: rgb(1, 11, 29);
  --black: #0f1011;
  --yellow: #ecaa0f;
  --sm: 1.4rem;
  --font-family-title: 'Pacifico', cursive;
  --font-family-text: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--dark);
}

.header-select {
  color: var(--white);
  border-radius: 8px;
  font-size: var(--sm);
  border: 1px solid var(--dark);
  outline: none;
}

.header-title {
  color: var(--yellow);
  text-align: center;
  font-family: var(--font-family-title);
  cursor: pointer;
  margin: 10px;
}

.header-container h3 {
  margin-left: 10px;
  color: var(--soft--white);
  font-family: var(--font-family-text);
}

.header-title--categoryView {
  text-align: left;
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}

.header-searchForm input {
  margin: 10px;
  padding-left: 10px;
  height: 35px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--soft--white);
  background-image: url(../icon/search.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.trendingPreview-header {
  display: flex;
}

.trendingPreview-title {
  margin: 10px;
  color: var(--yellow);
  font-family: var(--font-family-title);
}

.trendingPreview-movieList {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 260px;
  margin: 0 10px 10px 10px;  
}

.movie-container {
  display: flex;
  margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.movie-img {
  border-radius: 20px;
  box-shadow: 0 1px 6px 0 var(--yellow);
}

.trendingPreview-movieList::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 5px;
}

.trendingPreview-movieList::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 5px;
}

.categoriesPreview-container {
  margin: 10px;
}

.categoriesPreview-title {
  color: var(--yellow);
  font-family: var(--font-family-title);
  margin-bottom: 15px;
}

.categoriesPreview-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 10px;
}


.category-title{
  color: var(--soft--white);
}
